In [1]:
print("Hi")

Hi

In [1]:
import tensorflow as tf

In [2]:
import tensorflow as tf

In [3]:
print("Hi")

Hi

In [5]:
import numpy as np
import pandas as pd
import tensorflow as tf

# -----------------------------
# 1) Load data
# -----------------------------
train_path = "Delhi_train.csv"
edges_path = "Delhi_edges.csv"

df = pd.read_csv(train_path, header=None, names=["user", "time", "opinion"])
df["user"] = df["user"].astype(int)
df["time"] = df["time"].astype(int)
df["opinion"] = df["opinion"].astype(float)

A = pd.read_csv(edges_path, header=None).values.astype(np.float32)

num_users = df["user"].max() + 1
T = df["time"].max() + 1

In [6]:
# If multiple tweets per (user,time), average them:
df = df.groupby(["user", "time"], as_index=False)["opinion"].mean()
df.iloc[100:130]

     user  time   opinion
100    12     3 -0.248332
101    12     4 -0.084017
102    12     5  0.060703
103    12     6 -0.001325
104    12     7  0.027887
105    12     8  0.118700
106    13     0  0.095879
107    13     2  0.206460
108    13     3 -0.043402
109    13     4  0.132383
110    13     5 -0.053855
111    13     6 -0.052529
112    13     7  0.193290
113    13     8  0.048709
114    14     0  0.015605
115    14     1 -0.048708
116    14     2 -0.049369
117    14     3 -0.022808
118    14     4 -0.063120
119    14     5 -0.022508
120    14     6 -0.005446
121    14     7 -0.028410
122    14     8 -0.039079
123    15     1  0.029391
124    15     2  0.029566
125    15     3 -0.001726
126    15     4 -0.063627
127    15     5 -0.181904
128    15     6 -0.133687
129    15     7  0.043731

In [7]:
# -----------------------------
# 2) Build opinion tensor with NaNs
# -----------------------------
opinions = np.full((T, num_users), np.nan, dtype=np.float32)
for row in df.itertuples(index=False):
    opinions[row.time, row.user] = row.opinion

observed = ~np.isnan(opinions)  # (T, N) boolean

In [9]:
observed.sum()

4470

In [10]:
# -----------------------------
# 3) Build features: last_value, mask, delta_t
# -----------------------------
last_val = np.zeros((T, num_users), dtype=np.float32)
mask = np.zeros((T, num_users), dtype=np.float32)
delta = np.zeros((T, num_users), dtype=np.float32)

In [12]:
len(last_val)

9